.homePage {
}

.connectWalletText {
  text-align: center;
}

.promptActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 3.25rem;
    height: 3.25rem;
  }

  svg {
    fill: var(--white);
  }
}

.cardContent {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  height: calc(100% - 87px);
}

.conversation {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  text-align: center;
}

.bubble {
  display: flex;
  flex: 0 1 auto;

  > div {
    padding: 0.5rem;
    border-radius: 4px;
    max-width: 99%;
    text-align: left;
    overflow-x: auto;
    min-height: 0;
  }

  &.me {
    > div {
      background-color: var(--brand-blue);
      color: var(--white);
      border: 2px var(--brand-blue) solid;
      margin-left: auto;
    }
  }

  &.alert {
    > div {
      background-color: var(--gray);
      color: var(--white);
      border: 2px var(--gray) solid;
      margin: 0 auto;
      text-align: center;
    }
  }

  &.loading {
    > div {
      display: flex;
      justify-content: center;
      width: 50px;
    }
  }

  &:not(.me)&:not(.alert) {
    > div {
      background-color: var(--gray-light);
      color: var(--brand-extra-dark-75);
      border: 2px var(--gray-light) solid;
      margin-right: auto;
    }
  }
}

.cardContentInput {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.textareaInput {
  width: 100%;
  resize: none;
}
